* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
}


.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.section-1 {
  padding-top: 135px;
}

.logo {
  width: 160px;
  height: 41px;
}
.list_link_bold {
  font-weight: bold;
  text-decoration: none;
}


.section-1-top {
  margin-bottom: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  text-decoration: none;
  list-style: none;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
}

.list-item {
  margin-right: 40px;
}

.list-item-last {
  margin-right: 0;
}

.list_link {
  text-decoration: none;
}

.section-1-bottom {
  display: flex;
  align-items: center;
}

.section-1-heading {
  width: 427px;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.section-1-text {
  margin-top: 25px;
  margin-bottom: 45px;
  margin-right: 109px;
  width: 445px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;

}

.section-1-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;

  background: #458FF6;
  border-radius: 55px;
  padding: 20px 40px;
  display: inline-block;

}

.section-1-img {
  width: 693px;
  height: 598px;
}

.section-2 {
  margin-top: 113px;
}

.section-2-top {
  width: 952px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-2-heading {
  margin-bottom: 26px;
}

.section-2-text {
  margin-top: 33px;
  width: 952px;
}

.line {
  margin: 0 auto;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  border: none;
  margin-bottom: 33px;
}

.section-2-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.section-2-card {
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  width: 350px;
  padding: 54px 45px 47px 37px;
  margin-bottom: 35px;
}

.m0 {
  margin-right: 0;
}

.section-2-card h3{
  margin-top: 22px;
  margin-bottom: 1px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;

}

.section-2-link {
  text-align: center;
  margin-top: 72px;
}

.section-2-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #458FF6;
  
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  padding: 20px 51px;
  display: inline-block;
  margin-bottom: 221px;
}

.section-3 {
  display: flex;
  align-items: center;
}

.section-3-img {
  width: 650px;
  height: 477px;
  margin-right: -109px;
}

.section-3-heading {
  width: 481px;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;

}

.section-3-line {
  margin-top: 26px;
  margin-bottom: 31px;
  margin-left: 0;
}

.section-3-text {
  width: 450px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin-right: 14px;

}

.section-3-right {
margin-left: 142px;
}

.section-3-btn {
  margin-top: 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #458FF6;

  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  padding: 20px 51px;
  display: inline-block;
}

.section-4 {
  margin-top: 229px;
  display: flex;
  align-items: center;
}

.section-4-heading {
  width: 254px;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.section-4-line {
  margin-top: 30px;
  margin-bottom: 31px;
  margin-left: 0;
}

.section-4-text {
  width: 420px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin-bottom: 40px;

}

.section-4-left {
  margin-left: 71px;
}

.section-4-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #458FF6;

  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  padding: 20px 51px;
  display: inline-block;
}

.section-4-img {
  width: 665px;
  height: 434px;
}


.section-5 {
  margin-top: 270px;
  margin-bottom: 216px;
}

.section-5-main {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  color:#FFFFFF;
  padding-top: 35px;
  padding-bottom: 82px;
}

.section-5-heading {
  text-align: center;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 48px;
}

.section-5 .line {
  background-color: #fff;
}

.section-5-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 884px;
  margin: 0 auto;
  margin-top: 66px;
}

.section-5-left {
  display: flex;
  align-items: center;
}

.founder {
  margin-left: 29px;
}

.founder-name {
  font-size: 22px;
  line-height: 48px;
}

.founder-title {
  font-size: 18px;  
  color: rgba(255, 255, 255, 0.85);
}

.section-5-right {
  width: 420px;
}

.founder-comment {
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.founder-img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
}

.dots {
  display: flex;
  margin: 0 90px;
  
}

.dot {
  width: 10px;
  height: 10px;
  background: #5B9BF3;
  opacity: 0.3;
  border-radius: 50%;
  margin-right: 18px;
}

.dot:first-child {
  opacity: 1;
}

.dot:last-child {
  margin-right: 0;
}

.section-6 {
  margin-top: 222px;
}

.section-6-top {
text-align: center;
}

.section-6-top .line {
  margin-top: 26px;
  margin-bottom: 72px;
}

.section-6-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.section-6-card {
  height: 512px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  width: 369px;
  margin-bottom: 72px;
  padding: 97px, 51px, 88px, 33px;
}

.section-6-card h4 {
  margin-top: 21px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  /* or 152% */


  color: #000000;
}

.section-6-card p {
  margin-top: 12px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */


  color: #7D7987;
}

.section-6-card a {
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */


  color: #4089ED;
}

.section-6-bottom {
  display: flex;
  flex-wrap: wrap;
}

.section-6-link {
  text-align: center;
  margin-bottom: 202px;
}

.section-6-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #458FF6;

  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  padding: 20px 65px;
  display: inline-block;
}

.section-6-bottom a {
  margin-bottom: 35px;
}

.section-7 {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

}

.section-7 .container {
  padding-top: 108px;
  padding-bottom: 132px;
  display: flex;
  color: white;
}

.section-7-left {
  width: 391px;
}

.section-7-text-1 {
  margin-top: 17px;
  font-size: 18px;
  line-height: 28px;
}

.section-7-text-2 {
  margin-top: 31px;
}

.section-7-text {
  margin-top: 17px;
  margin-bottom: 31px;
  width: 391px;
}

.section-7-right {
  display: flex;
  width: 391px;
  
}

.section-7-list {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 18px;
  line-height: 38px;
 font-weight: 100;
}


.section-7-list-1 {
  margin-left: 145px;
  align-items: center;
  width: 391px;

}

.section-7-heading-1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 22px;
}

.section-7-list1 {
  text-decoration: none;
  list-style: none;
  color: white;
}

.section-7-list-2 {
  margin-left: 145px;
  align-items: center;
 width: 391px;

}

.section-7-heading-2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 22px;
}

.section-7-list2 {
  text-decoration: none;
  list-style: none;
}

.section-7-list-3 {
  margin-left: 145px;
  align-items: center;
 width: 391px;

}

.section-7-heading-3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 22px;
}

.section-7-list3 {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  line-height: 38px;
}

.footer-list{
  min-width: 120px;
}